Source: osxcart
Priority: optional
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               gobject-introspection,
               gtk-doc-tools,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               valac,
               xauth,
               xfonts-base,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/ptomato/osxcart
Vcs-Git: https://github.com/ptomato/osxcart
Vcs-Browser: https://github.com/ptomato/osxcart

Package: libosxcart-0-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for interfacing OS X file formats with GTK+
 Osxcart, or OS X Converting And Reading Tool, is a library designed to import
 file formats used in Mac OS X, NeXTSTEP, and GnuSTEP into GTK+/GLib-based
 programs easily, using a lightweight interface. Examples: RTF
 and RTFD documents.

Package: libosxcart-0-dev
Section: libdevel
Architecture: any
Depends: libosxcart-0-0 (= ${binary:Version}), ${misc:Depends}
Description: Library for interfacing OS X file formats with GTK+
 Files needed for developing programs that use Osxcart.

Package: libosxcart-0-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Description: Library for interfacing OS X file formats with GTK+
 API documentation for Osxcart.

Package: gir1.2-osxcartrtf-0
Section: libs
Architecture: any
Depends: libosxcart-0-0 (= ${binary:Version}), ${gir:Depends}, ${misc:Depends}
Description: Library for interfacing OS X file formats with GTK+
 GObject Introspection bindings for the RTF facilities.
