Source: ratify
Priority: optional
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: debhelper (>= 9),
               gobject-introspection,
               gtk-doc-tools,
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.44),
               libgtk-3-dev,
               meson (>= 0.50),
               valac,
               xauth,
               xfonts-base,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/ptomato/ratify
Vcs-Git: https://github.com/ptomato/ratify
Vcs-Browser: https://github.com/ptomato/ratify

Package: libratify-2-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for interfacing RTF with GTK
 Ratify is a library for importing and exporting RTF documents to and
 from GtkTextBuffers.

Package: libratify-2-dev
Section: libdevel
Architecture: any
Depends: libratify-2-0 (= ${binary:Version}), ${misc:Depends}
Description: Library for interfacing RTF with GTK (Development files)
 Files needed for developing programs that use Ratify.

Package: libratify-2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Description: Library for interfacing RTF with GTK (Documentation)
 API documentation for Ratify.

Package: gir1.2-ratify-2
Section: libs
Architecture: any
Depends: libratify-2-0 (= ${binary:Version}), ${gir:Depends}, ${misc:Depends}
Description: Library for interfacing RTF with GTK (Documentation)
 GObject Introspection bindings for Ratify.
